    <%- include("../partials/head.ejs") %>
    <script>
        function ValidatePasswords() {
            password1 = window.document.forms.register_form.password.value;
            password2 = window.document.forms.register_form.password_repeated.value;
            if (password1 === password2) {
                console.log('true')
                window.document.forms.register_form.submit.type = 'submit';
                window.document.getElementById('password_info').style = "opacity: 0.0;"
            } else {
                console.log('false')
                window.document.forms.register_form.submit.type = 'hidden';
                window.document.getElementById('password_info').style = "color:red;background: rgba(255,0,0,0.30);width:190px;"
            }
        }
    </script>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <%= message %><br>
            <form action="/user/register" method="POST" name="register_form">
                <br><input type="text" placeholder="login" name="login"><br><br>
                <input type="password" , placeholder="password" name="password"><br>
                <input type="password" , placeholder="repeat password" name="password_repeated"
                    oninput="ValidatePasswords()"><br>
                <div id="password_info" style="opacity: 0.0;">Passwords do not match</div><br><br>
                <input type="hidden" value="Submit" name="submit">
            </form>
        </section>
    </div>
    <%- include('../partials/footer.ejs') %>
<%- include('../partials/end.ejs') %>