<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <script>
        function note_update() {
            const filename = document.getElementById('name-label').dataset.title
            const content = document.getElementById('content').innerText
            console.log("update")
            fetch(`update`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'filename': filename, 'content': content })
            })
                .then(res => res.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
        }

        function note_delete() {
            console.log("delete")
            var url = window.location.href
            url = url.substring(url.lastIndexOf('/') + 1)
            fetch(url, { method: 'DELETE' })
                .then(res => res.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
        }
    </script>
</head>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <form class="create-note">
                <label id="name-label" for="title" data-title="<%= name %>">Tytuł: </label><b>
                    <%= name %>
                </b> <br>
                <textarea name="content" id="content" cols="30" rows="10"><%= body %></textarea>
                <input type="text" value="<%=name%>" id="oldUrl" name="oldUrl" hidden>
            </form>
            <br>
            <button onclick="note_update()">Zapisz</button>
            <button onclick="note_delete()">Usuń</button>
            <br>
        </section>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>

</html>