    <%- include("../partials/head.ejs") %>
    <script>
        function note_update_html() {
            var url = window.location.href
            url = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('?'))
            const content = document.getElementById('content').value
            fetch(`update`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'id': url, 'content': content })
            })
        }

        function note_delete_html() {
            console.log("delete")
            var url = window.location.href
            url = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('?'))
            console.log(url)
            fetch(`delete`, {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'id': url })
            })
        }
    </script>
</head>

<body>
    <%- include("../partials/nav.ejs") %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <form class="create-note">
                <label id="name-label" for="title" data-title="<%= name %>">Tytuł: </label><b>
                    <%= name %>
                </b> <br>
                <textarea name="content" id="content" cols="30" rows="10"><%= body %></textarea>
                <br><br>
                <button onclick="note_update_html()">Zapisz</button>
                <button onclick="note_delete_html()">Usuń</button>
            </form>
        </section>
    </div>
    <%- include("../partials/footer.ejs") %>
<%- include("../partials/end.ejs") %>