    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="outer" id="content_wrap">
        <section class="inner">
            <h1>Notatki</h1>
            <% if(notes.length> 0) { %>
                <ul>
                    <% notes.forEach(note=> { %>
                        <li>
                            <img src="/static/resources/new.svg">
                            <a href="/notes/<%= note.id %>"><%= note.title %></a>
                        </li>
                        <br>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Nie ma notatek!</p>
            <% } %>
        </section>
    </div>
    <%- include('../partials/footer.ejs') %>
<%- include("../partials/end.ejs") %>